header {
  background-color: #FFE09F;
  display:flex;
  justify-content: center;
  padding: 0px;
  text-align: center;
  font-family: Abel;
  font-weight: Regular;
}

.inicio {
  background-color: #FFFFFF;
}
main{
  background-color: #FFBF3C;
}
footer {
  background-color: #FFBF3C;
  padding: 0px;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li h1{
  margin-right: 200px;
}

nav li a {
  margin-left: 0px;
  margin-top: 10px;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #ddd;
}

img {
  margin-top: 5px; 
  margin-bottom: 5px; 
}


.banner {
  width: 100%;
  height: 800px;

}

article {
  margin-top: 20px;
  max-height: 350px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
}


.cuadro-de-texto {
    font-family: 'Acme', sans-serif;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px;
    line-height: 0.5;
    width: 23%;
    font-size: 16px;
}

.sinfondo {
  background-color: transparent;
}

article img {
  border-radius: 10px;
  margin-right:20px;
  margin-left:20px;
}
p {
  margin-top: 5%;
  margin-bottom: 0;
  line-height: 0.8;
  display:flex;
  justify-content:center;
}
h3{
  margin-top: 0;
  margin-bottom: 0;
  max-height: 350px;
  display:flex;
  justify-content:center;
}
h2{
  font-family: Abel;
  margin-top: 0;
  margin-bottom: 0;
  max-height: 350px;
  display:flex;
  justify-content:center;
}


.image-container {
  position: relative;
  background-color: #FFFFFF;
}

.image-text {
  font-size: xxx-large;
  font-family: 'Acme', sans-serif;
  position: absolute;
  color: #000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.image-container img{
  opacity: 0.5;
}

.foro{
  color:#FFF;
}

.alineado{
  display: flex;
  justify-content: center
}